<!-- 
    TODO: Description of file
-->
<!DOCTYPE html>
<html lang ="en-US"> <!-- Sets the language of the page to English for SEO -->
    <head>
        <meta charset = "UTF-8"> <!--supports special characters-->
        <!-- Helps to support mobile use, tells the page to render page size to the device size and not just a default  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
        <title>Contribute</title>

        <!-- Import font & style -->
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style/contribute.css">
    </head>
    <body>
        <!-- Navbar at top of page -->
        <nav class="navbar">
            <a href="/">HOME</a>
            <a href="/meet-the-team">MEET THE TEAM</a>
            <a href="/templates/contribute.html">CONTRIBUTE</a>
            <a href="/templates/volunteer-intro-vids.html">VOLUNTEER</a>
            <a href="/student-spotlight">STUDENTS</a>
        </nav>

        <h1>Contribute</h1> <!-- main heading-->
        <p>Your donation helps us continue development.</p> <!-- Description text -->

        

        <!-- non monetary donation option -->
        <section class="food">
            <h2>Donate Food or Desserts</h2>
            <!-- need more info from bryan on when, where, how to contribute via food-->
            <p>
            If you would like to donate food or desserts to Chunch, please drop them off with Bryan or Cheryl Scott <br> at
            <strong>the southeast doors of Crestview Baptist Church</strong> by <strong>10:30 a.m. on Monday morning</strong>.
            </p>
        </section>

        <!-- Funding -->
        <section class="donate">
            <h2>Funding</h2>
            <!-- Reference for wording: https://howtosayguide.com/how-to-say-we-accept-donations/https://howtosayguide.com/how-to-say-we-accept-donations/ -->
            <p>Financial donations are not expected, but will be gratefully accepted.<br>Online payments can be made using the button below.</p>
            <!-- Button that links to paypal -->
            <button onclick="window.location.href='https://www.fellowshiponegiving.com/app/giving/cres2300218';">Donate Now</button>
        </section>

        <section class="volunteer">
            <h2>Volunteer</h2>
            <p>Want to contribute in a more direct way? Become a part of the team!<p>
            <button onclick="window.location.href='volunteer-intro-vids.html'">Apply Here</button>
        </section>
    </body>
</html>
