<!DOCTYPE HTML>
<HTML>
  <body>
    <h1>This is the inbox</h1>
     <table border="1" cellpadding="6">
       <caption>Pending Applicants</caption>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>

        {% for a in applicants %}
        <tr>
            <td>
            <a href="/admin/inbox/{{ a.id }}">{{ a.first_name }} {{ a.last_name }}</a>
            </td>
            <td>{{ a.email }}</td>
            <td>{{ a.phone }}</td>
            <td>
              <form method = "POST" action = "/admin/inbox/accept/{{ a.id }}">
                <button type ="submit"
                  onclick="return confirm('Accept this applicant?')">
                  Accept
                </button>
              </form>
            </td>
            <td>
              <form method = "POST" action = "/admin/inbox/reject/{{ a.id }}">
                <button type ="submit"
                  onclick="return confirm('Reject this applicant?')">
                  Reject
                </button>
              </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <table border="1" cellpadding="6">
      <caption>Rejected Applicants</caption>
      <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        
        {% for r in rejected %}
        <tr>
            <td>
            <a href="/admin/inbox/{{ r.id }}">{{ r.first_name }} {{ r.last_name }}</a>
            </td>
            <td>{{ r.email }}</td>
            <td>{{ r.phone }}</td>
            <td>
              <form method = "POST" action = "/admin/inbox/accept/{{ r.id }}">
                <button type ="submit"
                  onclick="return confirm('Accept this applicant?')">
                  Accept
                </button>
              </form>
            </td>
            <td>
              <form method = "POST" action = "/admin/inbox/pending/{{ r.id }}">
                <button type ="submit"
                  onclick="return confirm('Undo this rejection?')">
                  Undo
                </button>
              </form>
            </td>
        </tr>
        {% endfor %}
    </table>
  </body>
</HTML>
